Выбери одну из 6 категорий:

<b>🌍 Общее</b>
Общие вопросы про всё на свете!

<b>🎲 Случайная</b>
Не знаешь что выбрать?
Просто брось кости!

<b>🎨 Искусство</b>
Популярные вопросы про искусство

<b>🚘 Транспорт</b>
Не только машинки

<b>🌟 Знаменитости</b>
От Мэрилин Монро до Илона Маска

<b>🎥 Фильмы</b>
Кто не любит фильмы?

<b>🎹 Музыка</b>
Самый сильный вид магии
