<b>⚙ Настройки приватности</b>

Для сохранения результатов голосования бот отправляет публичные опросы, таким образом, твой голос останется в викторине навсегда. Если ты желаешь быть анонимным, нажми на кнопку ниже.

Изменить настройки приватности всегда можно c помощью команды /settings.
