<b>Привет${ if .FirstName }, ${ .FirstName }${ end }!</b>

Любишь викторины? Я тоже! 🧠 💡

📊 В моей базе собрано более трех тысяч вопросов на различные тематики. Я предложу тебе уникальные викторины в каждой из категорий.

🏆 Попробуй доказать всем пользователям Телеграм кто умнее! Статистика твоих ответов сохранится и будет отображена в специальном разделе.
