<b>🏆 Рейтинг</b>

Рейтинговый процент также содержит в себе соотношение количества правильных ответов к неправильным. Работа над этим разделом всё еще ведется, со временем будут появляться другие критерии и рейтинговые таблицы.

🥇 ${ if (index .Chats 0).Username }@${ (index .Chats 0).Username }${ else }${ (index .Chats 0).FirstName }${ end } – <b>${ (index .Top 0).Rate }%</b> правильных ответов
🥈 ${ if (index .Chats 1).Username }@${ (index .Chats 1).Username }${ else }${ (index .Chats 1).FirstName }${ end } – <b>${ (index .Top 1).Rate }%</b> правильных ответов
🥉 ${ if (index .Chats 2).Username }@${ (index .Chats 2).Username }${ else }${ (index .Chats 2).FirstName }${ end } – <b>${ (index .Top 2).Rate }%</b> правильных ответов

Твой результат: <i>${ .User.Rate }%</i>
