<b>📊 Статистика</b>

🥇 ${ (index .Top.Users 0).ID } - <i>${ (index .Top.Stats 0).Rate }%</i>
🥈 ${ (index .Top.Users 1).ID } - <i>${ (index .Top.Stats 1).Rate }%</i>
🥉 ${ (index .Top.Users 2).ID } - <i>${ (index .Top.Stats 2).Rate }%</i>

Твой результат: <i>${ .Stats.Rate }%</i>
