<b>🏆 Рейтинг</b>

Рейтинговый процент содержит в себе соотношение количества правильных ответов к неправильным. Работа над этим разделом всё еще ведется, со временем будут появляться другие критерии и рейтинговые таблицы.

Твой результат: <b>${ .User.Rate }%</b>

${ if gt (len .Chats) 0 -}
🥇 <a href="tg://user?id=${ (index .Chats 0).ID }">${ (index .Chats 0).FirstName }</a>
<b>${ (index .Top 0).Rate }%</b> правильных ответов
<b>${ (index .Top 0).Total }</b> пройденных викторин
${- else -}
🥇 <i>Здесь можешь быть ты!</i>
${- end }

${ if gt (len .Chats) 1 -}
🥈 <a href="tg://user?id=${ (index .Chats 1).ID }">${ (index .Chats 1).FirstName }</a>
<b>${ (index .Top 1).Rate }%</b> правильных ответов
<b>${ (index .Top 1).Total }</b> пройденных викторин
${- else -}
🥈 <i>Здесь можешь быть ты!</i>
${- end }

${ if gt (len .Chats) 2 -}
🥉 <a href="tg://user?id=${ (index .Chats 2).ID }">${ (index .Chats 2).FirstName }</a>
<b>${ (index .Top 2).Rate }%</b> правильных ответов
<b>${ (index .Top 2).Total }</b> пройденных викторин
${- else -}
🥉 <i>Здесь можешь быть ты!</i>
${- end }
